@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer components {
  .h1 {
    @apply font-bold text-6xl md:text-7xl;
  } 

  .h2 {
    @apply font-bold text-4xl md:text-6xl lowercase text-center mb-6;
  } 

  .h3 {
    @apply font-bold text-3xl md:text-4xl;
  }

  .body-text {
    @apply text-base leading-8;
  }

  .secondary-text {
    @apply text-sm;
  }

  .link-text {
    @apply font-semibold text-secondary-dark relative after:absolute after:block after:left-0 after:right-0 after:top-4 after:opacity-0 hover:after:translate-y-1 hover:after:opacity-100 after:duration-150 after:transition-all after:ease-linear;
  }

  .max-width {
    @apply max-w-[1600px];
  }
}
